.footer {
  background-color: var(--eerie-black-2);
  padding-block-end: 30px;

  .footer-top {
    margin-block-end: 65px;

    .footer-brand {
      border: 1px solid var(--white_10);
      margin-block-end: 70px;

      .logo {
        text-align: center;
        padding: 25px;
        border-block-end: 1px solid var(--white_10);
      }

      .input-wrapper {
        background-color: var(--white);
        position: relative;
        margin: 25px;
        padding: 15px;

        .email-field {
          text-align: center;
          margin-block-end: 15px;
          color: inherit;
          outline: none;
        }

        .btn {
          max-width: 100%;
          width: 100%;
          justify-content: center;
        }
      }

      .input-wrapper:focus-within {
        outline: 3px solid var(--white_30);
      }
    }

    .footer-link-box {
      display: grid;
      gap: 50px;

      .footer-list-title {
        color: var(--white);
        font-family: var(--ff-oswald);
        font-size: var(--fs-18);
        font-weight: var(--fw-600);
        text-transform: uppercase;
        margin-block-end: 30px;
      }

      .footer-link::before {
        position: static;
        padding: 2.5px;
        background-color: var(--white_30);
        display: block;
        border-radius: 50%;
        transition: var(--transition-1);
      }

      .footer-link {
        display: flex;
        align-items: center;
        color: var(--white_50);
        gap: 10px;
        margin-block-start: 8px;
        transition: var(--transition-1);
      }

      .footer-link:is(:hover, :focus) {
        color: var(--white);
      }

      .footer-link:is(:hover, :focus)::before {
        background-color: var(--white);
      }

      .blog-card {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-block-start: 20px;

        .card-banner {
          flex-shrink: 0;
        }

        .card-title {
          color: var(--white);
          font-family: var(--ff-oswald);
          font-size: var(--fs-14);
          font-weight: var(--fw-500);
          line-height: 1.5;
          margin-block-end: 5px;
          transition: var(--transition-1);
        }

        .card-title:is(:hover, :focus) {
          color: var(--indian-yellow);
        }

        .card-date {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: var(--fs-13);
          text-transform: uppercase;
          color: var(--white_50);

          ion-icon {
            --ionicon-stroke-width: 50px;
          }
        }
      }

      .footer-list-item {
        display: flex;
        align-items: center;
        align-items: flex-start;
        gap: 10px;
        margin-block-start: 10px;

        ion-icon {
          color: var(--indian-yellow);
          font-size: 18px;
          flex-shrink: 0;
          --ionicon-stroke-width: 50px;
          margin-block: 7px;
        }
        .contact-link {
          color: var(--white_50);
          transition: var(--transition-1);
        }
        a.contact-link:is(:hover, :focus) {
          color: var(--white);
        }
      }
    }
  }

  .footer-bottom {
    background-color: var(--eerie-black-3);
    text-align: center;
    padding: 15px;
    .copyright-link {
      display: inline-block;
      color: var(--indian-yellow);
    }
  }
}
